
#random-image{
  width:auto;
  height:100%;
  margin: auto;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
}

#input-subreddit {
  margin: 0px;
  width: auto;
  float: left;
}

#add-subreddit {
  float: right;
}

#input-well {
  height: 28px; 
}

.subreddit-row {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 28px;
  text-align: center;
}

.btn-group {
  float: right;
  margin-top: -4px;
  height: 28px;
  margin-right: 19px;
}

.component-row {
  width: auto;
}

.remove-btn {
  margin-top: -3px;
  float: right;
}

.subreddit-tag {
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
  float: left;
}

#reddit-image-container {
  margin-top: 20px;
  background-size: 16px 16px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('./ajax-loader.gif');
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0);}
