
#random-image{
  width:auto;
  height:500px;
  margin: auto;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
}

#input-subreddit {
  margin: 0px;
}

.subreddit-row {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.remove-btn {
  margin-top: -3px;
  float: right;
}

.subreddittag {
  float: left; 
}

#reddit-image-container {
  margin-top: 20px;
  background-size: 16px 16px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('../img/ajax-loader.gif');
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0);}
